Carolyn Massa - Springboard Data Scientist Hopeful

This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = ''

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [70]:
import collections
import requests
import pandas as pd

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

Step 1:  Import data from the Franfurt Stock Exchange, refercing ticker AFX_X, to reflect the entire year of 2017.

In [71]:
r = requests.get('https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?&2017-01-01&end_date=2017-12-31&api_key=remove')

Step 2: Convert to a Python Dictionary

In [72]:
r = r.json()#here I review the type of data
type(r)

dict

In [73]:
r['dataset'].keys() #I want to review my keys

dict_keys(['id', 'dataset_code', 'database_code', 'name', 'description', 'refreshed_at', 'newest_available_date', 'oldest_available_date', 'column_names', 'frequency', 'type', 'premium', 'limit', 'transform', 'column_index', 'start_date', 'end_date', 'data', 'collapse', 'order', 'database_id'])

Step 2b: Below I convert my dictionary to a dataframe for ease of use

In [78]:
AFX_X = pd.DataFrame(r['dataset']['data'], columns=r['dataset']['column_names'])
AFX_X.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,NaN
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,NaN
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,NaN
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,NaN
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,NaN

Step 3: Display the highest and lowest opening prices from 2017

In [80]:

Highest_opening_price = AFX_X['Open'].max()
Highest_opening_price
print('Highest Opening Price in 2017: ', (Highest_opening_price))

Highest Opening Price in 2017:  53.11

In [81]:
Lowest_opening_price = AFX_X['Open'].min()
Lowest_opening_price
print('Lowest Opening Price in 2017: ', (Lowest_opening_price))

Lowest Opening Price in 2017:  4.2

Step 4: Display the largest change in a day (based on High and Low prices).

In [66]:
Largest_change_in_1_day = (AFX_X['High'] - AFX_X['Low']).max()
Largest_change_in_1_day

print('Largest change in any one day: ', (Largest_change_in_1_day))

Largest change in any one day:  4.389999999999997

Step 5: What was the largest change between any two days (based on Closing Price)?

In [82]:
Largest_pricechange_in_any_2_days = AFX_X['Close'].diff().max() 
Largest_pricechange_in_any_2_days

print('Largest change in two days: ', (Largest_pricechange_in_any_2_days))

Largest change in two days:  5.6499999999999995

Step 6: What was the average daily trading volume during this year?

In [83]:
AVG_daily_trading_volume = AFX_X['Traded Volume'].mean()
AVG_daily_trading_volume

print('Average daily trading volume: ', (AVG_daily_trading_volume))

Average daily trading volume:  47040.76172649196

Step 7: What was the median trading volume during this year?

In [85]:
Median_daily_trading_volume = AFX_X['Traded Volume'].median()
Median_daily_trading_volume
print('Average daily trading volume: ', (Median_daily_trading_volume))

Average daily trading volume:  34960.0